
<div class="container">
  <div class="container ">

    <div class="Home">
      <!--Inicio menu-->
      <app-menu></app-menu>
      <!--Fin menu-->
    



    <!--Inicio Votacion-->
    <div *ngFor="let super of ArregloSupers; last as isLast">
      <div *ngIf="isLast">
        <div style="background-image: url({{super.image}}); background-size: cover;">
          
          <div *ngIf="!voto">
            <div>
              <div class="card text-white p-5 selectVoto">
                <div class="card-body">
                  <h5 class="card-title">{{ super.name }}</h5>
                  <p class="card-text">{{ super.detalle }}</p>
                  <p class="card-text">¿Cuál es tu voto?</p>
                </div>
                <div class="card-footer">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default" style="background-color: rgb(110, 215, 204);" (click)="like(super.id)">
                      <img class="navbar-brand mx-2" src="../assets/images/like.png" width="25px" height="35px">
                    </button>
                    <button type="button" class="btn btn-default" style="background-color: rgb(212, 163, 27);" (click)="dislike(super.id)">
                      <img class="navbar-brand mx-2" src="../assets/images/dislike.png" width="25px" height="35px">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div *ngIf="voto">
            <div style="background-color: rgba(0, 0, 0, 0.2);">
              <div class="card text-white p-5 selectVoto">
                <div class="card-body">
                  <ng-container *ngIf="registro; else disl">
                    <div class="likeV mr-2">
                      <img class="navbar-brand mx-2" src="../assets/images/like.png" width="25px" height="35px">
                    </div>
                    <p> Su voto ha sido registrado</p>
                  </ng-container>
                  <ng-template #disl>
                    <div class="dislikeV mr-2">
                      <img class="navbar-brand mx-2" src="../assets/images/dislike.png" width="25px" height="35px">
                    </div>
                    <p> Su voto ha sido registrado</p>
                  </ng-template>
                  <h5 class="card-title">{{ super.name }}</h5>
                  <p class="card-text">{{ super.name }}</p>
                  <p class="card-text">Gracias por la colaboracion</p>
                </div>
                <div class="card-footer">
                  <div class="btn-group">
                    <button type="button" class="buttonStyle" (click)="votarDenuevo()">
                      Volver a votar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="resultado">
            <div class="abs-center " style="height: 20px; background-color: rgb(110, 215, 204);  width: {{((super.like * 100)/(super.like+super.dislike)).toFixed()}}%">{{super.like}}%</div>
            <div class="abs-center " style="height: 20px; background-color: rgb(212, 163, 27); width: {{ ((super.dislike * 100)/(super.like+super.dislike)).toFixed() }}%;">{{super.dislike}}%</div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Votacion-->
  </div>





    <!--Inicio body cards-->
    <div class="bodyCards bg-light mt-4">
      <h2 class="titulo2 m-2">
        Lorem Ipsum. Dolor
        <h1 class="titulo1">
          IP lorem ip.
        </h1>
      </h2>
      <div class="">
      <h3 class="texto ">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo dolores temporibus tenetur nihil. Voluptas vero tempore vitae.
      </h3>
      </div>
    </div>

    <h1 class="titulo1 pt-5 pb-3">Supers Heroes anteriores</h1>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2"  *ngFor="let super of Supers; last as isLast">
        <div class="card bg-dark text-white rounded-0 "  *ngIf=" !isLast">
          <img class="card-img" src="{{super.image}}" alt="Card image">
          <div class="card-img-overlay opacidad">

            <ng-container *ngIf="super.like >= super.dislike; else Dislike">
              <div class="like mr-2">
                <img class="navbar-brand mx-2" src="../assets/images/like.png" width="18px" height="30px">
              </div>
            </ng-container>
            <ng-template #Dislike>
              <div class="dislike mr-2">
                <img class="navbar-brand mx-2" src="../assets/images/dislike.png" width="18px" height="30px">
              </div>
            </ng-template>

            <div >
              <h5 class="card-title titulo3">{{ super.name }}</h5>
              <p class="card-text detalleCard">{{ super.detalle }}</p>
              <button class="buttonStyle"> Ver detalle </button>
            </div>
          </div>
          <div class="resultado">
            <div class="bueno abs-center " width="64%">{{super.like}}%</div>
            <div class="abs-center " style="height: 20px; background-color: rgb(212, 163, 27); width: 36%">{{super.dislike}}%</div>
          </div>
        </div>
      </div>
    </div>
    <!--Fin body cards-->

    <div>
      <!-- Inicio footer-->
      <app-footer></app-footer>
      <!--Fin footer-->
    </div>


  </div>
</div>