.IzquierdaNav{
    justify-content: flex-end;
}

.backgroundF{
    backdrop-filter: blur(7px);
    background-color: #585c5d
}

.logo{
    margin-right: 110px;
    margin-left: 30px;
    flex-grow: 0;
}