<nav class="navbar navbar-expand-lg navbar-light backgroundF" >
    <img class="navbar-brand" src="../../../assets/images/heroes.png" width="120px" height="46px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-text IzquierdaNav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: white; font-weight: 400;">Heroes anteriores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white; font-weight: 400;">¿Cómo funciona?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white; font-weight: 400;">Iniciar sesión</a>
            </li>
        </ul>
    </div>
    <img class="navbar-brand collapse navbar-collapse logo" src="../../../assets/images/lupa.png" width="32px" height="42px">
</nav>